* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  color: rgb(248, 247, 248);
  background: #222222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
  color: rgb(255, 167, 3);
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.profile {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  background: linear-gradient(135deg, #fe9a03, #000000);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgb(255, 145, 1),
    0 0 25px rgb(255, 145, 1)
}

.profile :hover{
    box-shadow: 0 0 5px rgb(255, 145, 1),
    0 0 25px rgb(255, 145, 1), 0 0 50px rgb(255, 145, 1),
    0 0 100px rgb(255, 145, 1), 0 0 200px rgb(255, 145, 1)
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: none;
  border: 5px solid (#222222);
}


.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3 span {
  color: rgb(255, 167, 3)
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(255, 167, 3);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(255, 167, 3);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
  background: rgb(255, 167, 3);
  color: #081b29;
  box-shadow: 0 0 20px rgb(255, 167, 3);
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(255, 167, 3);
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px rgb(255, 145, 1),
    0 0 25px rgb(255, 145, 1)
}

.btn-box:hover {
  box-shadow: 0 0 5px rgb(255, 145, 1),
    0 0 25px rgb(255, 145, 1), 0 0 50px rgb(255, 145, 1),
    0 0 100px rgb(255, 145, 1), 0 0 200px rgb(255, 145, 1)
}

.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-container {
  text-align: center;
  padding: 185px;
}

.about-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: none;
  display: flex; /* Cocok dengan text-align: center */
  border: 7px solid #222222;
  box-shadow: 0 0 25px rgb(255, 145, 1),
    0 0 25px rgb(255, 145, 1)
}

.about-text h2{
  font-size: 60px;
}

.about-text h2 span{
  color: rgb(255, 145, 1);
}

.about-text h4{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0  30px;
}

.about-text p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#services{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.sub-tittle {
  text-align: center;
  font-size: 60px;
  padding-bottom: 10px;
  margin-top: 100px;
}

.sub-tittle span{
  color: #fe9a03;
}

.container {
  padding: 20px;

}
.services-list {
  display: flex;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
  grid-gap: 80px;
  justify-content: center;
  margin-top: 50px;
}

.services-list div{
  background-color: transparent;
  padding: 20px;
  font-size: 15px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 30px;
  width: 35%;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #fe4603,
            1px 1px 40px #fe7c03;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}


.services-list div a{
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #fe9a03;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px rgb(255, 145, 1),
    0 0 25px rgb(255, 145, 1)
}

.read:hover{
  box-shadow: 0 0 5px rgb(255, 145, 1),
    0 0 25px rgb(255, 145, 1), 0 0 50px rgb(255, 145, 1),
    0 0 100px rgb(255, 145, 1), 0 0 200px rgb(255, 145, 1)
}

.services-list div:hover{
  transform: translateY(-10px);
}

section{
  display: flex;
  flex-wrap: wrap;
}
.sub-tittle1{
  text-align: center;
  font-size: 60px;
  padding-bottom: 10px;
  margin-top: 100px;
}

.sub-tittle1 span{
  color: #fe9a03;
}


.container1{
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}

.heading1{
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar{
  font-size: 20px;
  margin: 10px;
}

.Technicals-bars .bar{
  margin-top: 40px 0;
}

.Technicals-bars .bar:first-child{
  margin-top: 0;
}

.Technicals-bars .bar:last-child{
  margin-bottom: 0;
}

.Technicals-bars .bar .info{
  margin-bottom: 5px;
}

.Technicals-bars .bar .info span{
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s linear forwards;
  opacity: 0;
}

.Technicals-bars .bar .progress-line{
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate{
  100%{
    transform: scaleX(1);
  }
}

.Technicals-bars .bar .progress-line span{
  height: 100%;
  background-color: aqua;
  position: absolute;
  border-radius:  10px;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span{
  width: 80%;
}

.progress-line.css span{
  width: 60%;
}

.progress-line.javascript span{
  width: 40%;
}

.progress-line.python span{
  width: 60%;
}

.progress-line.sql span{
  width: 80%;
}

.progress-line span::after{
  position: absolute;
  padding: 1px 8px;
  background-color: #000000;
  color: #fff;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.html span::after{
  content: "80%";
}

.progress-line.css span::after{
  content: "60%";
}

.progress-line.javascript span::after{
  content: "40%";
}

.progress-line.python span::after{
  content: "60%";
}

.progress-line.sql span::after{
  content: "80%";
}

.progress-line span::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
}

.skill-circle {
  text-align: center;
  color: #e2e8f0;
}

svg {
  width: 120px;
  height: 120px;
}

.bg {
  fill: transparent;
  stroke: black;
  stroke-width: 15;
}

.progress-1{animation: animate-path1 1s 1s linear forwards;}
.progress-2{animation: animate-path2 1s 1s linear forwards;}
.progress-3{animation: animate-path3 1s 1s linear forwards;}
.progress-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1 {
  100%{
    stroke-dashoffset: 75;
  }
}

@keyframes animate-path2 {
  100%{
    stroke-dashoffset: 100;
  }
}

@keyframes animate-path3 {
  100%{
    stroke-dashoffset: 100;
  }
}

@keyframes animate-path4 {
  100%{
    stroke-dashoffset: 500;
  }
}


.progress {
  fill: none;
  stroke: aqua;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-dasharray: 502; /* 2πr ≈ 2*3.14*80 */
  stroke-dashoffset: 502;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 1s ease;
}

.percentage {
  font-size: 1.2rem;
  fill: #ffffff;
  font-weight: bold;
}

.certificate {
  padding: 40px;
  fill: transparent;
  color: #e2e8f0;
  display: grid;
  flex-direction: column;
  align-items: center;       /* Menengahkan isi secara horizontal */
  justify-content: center;   /* Menengahkan isi secara vertikal jika tinggi cukup */
  text-align: center;
}

.certificate h2 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ffffff;
}


.certificate-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;   /* Menengahkan grid */
  align-items: center;
  width: 100%;
  max-width: 960px;
  width: 600px;
  height: 500px;
}

.certificate-grid img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  margin: 20px;
}

.certificate-grid img:hover {
  transform: scale(1.05);
}

.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}

.contact-text h2{
  font-size: 90px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span{
  color: #fe9a03;
}

.contact-text h4{
  margin: 15px 0;
  color: rgb(228, 228,228);
  font-size: 20px;
  font-weight: 600;
}

.contact-text p{
  color: rgb(177, 177,177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list{
  margin-bottom: 3rem;
}

.contact-list li{
  margin-bottom: 10px;
  display: block;
}

.contact-list li{
  margin-bottom: 10px;
  display: block;
}

.contact-list i{
  display: inline-block;
  color: #fe9a03;
  font-size: 20px;
  font-weight: 600;
  transition: all .40s ease;
}

.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #fe9a03;
}

.contact-icons i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fe9a03;
  border-radius: 50%;
  font-size: 20px;
  color: #fe9a03;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover{
  background: #fe9a03;
  color: #000000;
  box-shadow: 0 0 20px #fe9a03;
}

.contact-form form{
  position: relative;
}

.contact-form form input,form textarea{
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.contact-form textarea{
  resize: none;
  height: 220px;
}

.contact-form form .send{
  display: inline-block;
  padding: 12px 28px;
  background: #fe7c03;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #fe9a03,
  0 0 25px #fe9a03;
}

.contact-form form .send:hover{
  box-shadow: 0 0 5px #ef9d20,
  0 0 25px #ef9d20, 0 0 50px #ef9d20,
  0 0 100px #ef9d20, 0 0 200px #ef9d20;
}

.last-text p{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(228, 59, 13);
  font-weight: 300;
  margin-top: 70px;
}

.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2,1rem;
}

.top i{
  color: #000000;
  background: #fe7c03;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

@keyframes showText {
  100%{
    opacity: 1;
  }
}


@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }

}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}